# FastAPI & Server
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy[asyncio]
aiosqlite
asyncpg
psycopg2-binary

# Auth
python-jose[cryptography]
argon2-cffi
pydantic[email]
pydantic-settings

# AI
groq
chromadb
google-generativeai
httpx

# Data
openpyxl

# Utils
python-dateutil
python-dotenv
gunicorn
